.App {
  text-align: center;

}

body{
  background-color: #252c30;
  color: white;
}

#loading{
  margin: 100px auto;
  padding: 0 auto;
}
.load{
  display: flex;
  flex-direction: row;
  margin: 350px 100px 0px 850px;
}

